
body {
    padding-top: 200px;
    text-align: center;
    background-color: #FFFFF0; 
    
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

#search-button {
    color: #fffff7;
    border-color: #fffff7;
}
footer {
    padding-top: 100px;
    margin: 50px 0;
}

#urltocopy {
}

